<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% include '__menu.html' %} 
  <div class="container">
  <h1>Edit profile</h1>
  <form action="" method="post">
    <input name='username' type="text" placeholder='new   username'><br><br>
      <textarea name="about" id="" class="materialize-textarea" cols="30" rows="10">{%if current_user.about_me%}{{current_user.about_me}}{% endif%}</textarea><br>
    <button class="btn waves-effect waves-light red"><i class="material-icons">send</i></button>
    </form>
  </div>
  </body>
</html>